@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo:wght@100;300;400&family=Gotu&display=swap');

@font-face {
  font-family: Nove;
  src: url('/src/assets/Nove.ttf');
}
@font-face {
  font-family: Halimum;
  src: url('/src/assets/Halimun.ttf');
}

.Nove{
  font-family: Nove !important;
}
.Halimum{
  font-family: Halimum !important;
}

.App {
  background-color: #f5eede;
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1200px;
  margin: 0 auto;
}

.portada{
  z-index: 1;
  height: 90vh;
  background-image: url('/src/assets/portada2.jpg');
  background-size: cover;
  filter: blur(.3px);
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
  color: #344033;
}
.portada h1{
  font-family: Abril Fatface;
  font-size: 300px;
  font-weight: 400;
}
.portada h4{
  font-family: Abril Fatface;
  font-size: 50px;
  font-weight: 400;
}
.portada h1:hover{
  color: #f5eede;
  cursor: pointer;
  -webkit-text-stroke: 1px black;
  transition: .5s ease-in-out all;
}
.portada h4:hover{
  color: #f5eede;
  cursor: pointer;
  -webkit-text-stroke: 1px black;
  transition: .5s ease-in-out all;
}
.portada h1:hover{
  color: #f5eede;
  cursor: pointer;
  -webkit-text-stroke: 1px black;
  transition: .5s ease-in-out all;
}

.link_perfil{
  text-decoration: underline;
  color: #344033;
}

.section1{
  width: 100%;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}
.section1 img{
  width: 50%;
  padding: 20px;
}
.section1 .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  width: 50%;
  color: #344033;
  font-size: 20px;
  line-height: 30px;
}
.section1 .info h1{
  margin-bottom: 20px;
  font-family: Nove;
  font-weight: 400;
  letter-spacing: 0px;

}
.section1 p{
  font-family: Archivo;
}

.separador{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-family: Gotu;
  font-size: 400;
  color: #344033;
  font-size: 30px;
  margin: 50px 0;
}


.visible{
  display: none;
}
.visible2{
  display: block;
}

/* SECTION 2 */

.section2{
  width: 100%;
  display: flex;
  color: #344033;
}
.section2 .info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  padding: 50px;
  text-align: center;
  line-height: 30px;
}
.section2 .info img{
  width: 200px;
  padding: 10px;
  background-color: #2a342906;
  margin-bottom: 40px;
}
.border-top-right-radius{
  border-top-right-radius: 50%;  
}

.border-top-left-radius{
  border-top-left-radius: 50%;  
}
.border-radius{
  border-radius: 50%;
}
.section2 h1 {
  font-family: Gotu;
  font-weight: 100;
  margin-bottom: 30px;
}
.section2 p{
  font-family: Archivo;
  letter-spacing: 1px;
}

.section3{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.section3 .info{
  width: 33%;
  text-align: center;
  padding: 0 50px;
  line-height: 30px;
}
.section3 h1{
  font-family: Gotu;
  margin-bottom: 15px;
}
.section3 p{
  font-family: Archivo;
  letter-spacing: 1px;
}
.section3 .info img{
  width: 300px;
  border-radius: 50%;
  margin-bottom: 40px;
}



/* * FOOTER * */

.footer{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Archivo;
  color: #344033;
  letter-spacing: 1px;
}
.footer h1{
  color: #344033;
  font-size: 60px;
  margin-bottom: 20px;
}
.footer span{
  font-size: 20px;
}
.btn{
  margin-top: 40px;
}
.btn button a{
  text-decoration: none;
  color: #344033;
}
.btn button{
  letter-spacing: .5px;
  font-size: 15px;
  color: #344033;
  margin-right: 10px;
  padding: 13px 30px;
  border-radius: 30px;
  background-color: #f5eede;
  border: 1px solid #344033;
  font-weight: 600;
  transition: all .3s ease-in-out;
}
.btn button:hover{
  cursor: pointer;
  background-color: #344033;
  color: #f5eede;
}

/* FOOTER 2 */

.footer2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
}
.footer2 ul{
  display: flex;
}
.footer2 ul a{
  color: #344033;
}
.footer2 ul li{
  margin-right: 20px;
}
.footer2 ul li:hover{
  cursor: pointer;
  text-decoration: underline;
}
.footer2 img{
  width: 30px;
}
.redes a{
  margin-right: 20px;
}

.terminos{
  width: 100%;
}
.terminos ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: 12px;
  color: #344033;
}
.terminos ul li a{
  text-decoration: none;
  color: #344033;
}
.juan:hover{
  text-decoration: underline;
}




/* MOBILE */

@media screen and (max-width: 480px) {
  .container{
    width: 100%;
    padding: 0 20px;
  }
  .portada{
    height: 90vh;
    padding-left: 10px;
  }
  .portada h1{
    font-size: 100px;
  }
  .portada h4{
      font-size: 30px;
    }
  .separador{
    text-align: center;
    font-size: 20px;
  }
  .section1{
    width: 100%;
    flex-wrap: wrap;

  }
  .section1 img{
    width: 100%;
    padding: 0px;
    margin-bottom: 20px;
  }
  .section1 .info{
    padding: 0 0px;
    margin-bottom: 20px;
    width: 100%;
    line-height: 35px;
    font-size: 17px;
  }
  .visible{
    display: block;
  }
  .visible2{
    display: none;
  }

  .section2{
    flex-wrap: wrap;
  }
  .section2 .info{
    width: 100%;
    padding: 50px;
    letter-spacing: 2px;
    text-align: center;
  }
  .section2 .info img{
    width: 200px;
    border-radius: 50%;
    padding: 10px;
    background-color: #2a342906;
  }
  .section2 h1 {
    font-family: Gotu;
    font-weight: 100;
  }
  .section2 p{
    font-family: Archivo;
  }
  

  .section3{
    flex-wrap: wrap;
  }
  .section3 .info{
    width: 100%;
    padding: 0 50px;
    margin-bottom: 80px;
  }
 

  .section3 .info img{
    width: 250px;
    border-radius: 50%;
    margin-bottom: 40px;
  }
  .footer{
    height: 40vh;
  }
  .footer h1{
    color: #344033;
    font-size: 50px;
    margin-bottom: 20px;
  }
  .footer span{
    font-size: 15px;
  }
  .footer p{
    font-size: 12px;
  }
  .btn{
    margin-top: 40px;
  }
  .btn button{
    font-size: 10px;
    margin-right: 10px;
  }


  .footer2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 20px;
  }
  .footer2 ul{
    display: block;
    padding: 20px 0;
  }
  .footer2 ul li{
    margin-right: 0px;
    padding: 15px 0;
  }

  .footer2 img{
    width: 30px;
  }
  .redes a{
    margin-right: 20px;
  }
  
  .terminos{
    padding: 0 20px;
  }
  .banner-clase h1{
    font-size: 3rem !important;
  }
  .banner-clase{
    height: 200px !important;
  }
  .clases{
    flex-direction: column;
    align-items: center;
  }
  .clase{
    width: 100% !important;
    margin-bottom: 20px;
  }
  .info-clase h1{
    font-size: 1.6rem;
  }

}


/**** CLASES ****/

.clases{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-family: Archivo;
  color: #344033;
}

.clase{
  width: 30%;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 13px 13px 17px 11px rgba(206.24999999999997, 206.24999999999997, 206.24999999999997, 0.3);
}
.clase img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: brightness( 56% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg )
}
.clase .info{
  padding: 30px 20px;
}
.clase h4{
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.clase p{
  line-height: 23px;
  margin-bottom: 20px;
  color: grey;
}
.clase a{
  color: black;
  border: 1px solid #344033;
  padding: 5px 20px;
  border-radius: 15px;
  transition: all .3s;
}
.clase a:hover{
  background-color: #344033;
  color: white;
}

/**** CLASE 1 ****/

.banner-clase{
  height: 300px;
  position: relative;
  color: #f5eede;
  font-family: Archivo;
}
.banner-clase img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-clase h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-size: 4rem;
  width: 100%;
  padding: 0 30px;
  text-align: center;
}
.info-clase{
  padding-top: 50px;
  color: #344033;

}
.info-clase h1{
  font-family: Gotu;
  margin-bottom: 10px;
}
.info-clase p{
  font-family: Archivo;
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.underline{
  text-decoration: underline;
}
table{
  margin-bottom: 30px;
}
table, th, td{
  border: 2px solid #344033;
  border-collapse: collapse;
  font-family: Archivo;
}
th, td{
  padding: 10px;
}
.link{
  color: #344033;
  text-decoration: underline;
}
.btn-inscripcion{
  color: #344033;
  font-size: 1.5rem;
  border: 1px solid;
  padding: 5px 20px;
  transition: all .3s;
}
.btn-inscripcion:hover{
  background-color: #344033;
  color: white;
}
.mt-20{
  margin-top: 20px;
}
.mt-50{
  margin-top: 50px;
}
.tabla-responsive{
  overflow-x:auto;
}